@model IEnumerable<ProjetoCinema.Models.Filme>

@{
    ViewData["Title"] = "Index";
}

<h1>Filmes em Estreia</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <div>
        @using (Html.BeginForm("Index", "Filme", FormMethod.Get))
        {
                    <p>
                        Digite aqui sua pesquisa: @Html.TextBox("Pesquisa")
                        <input type="submit" value="Pesquisar"/>
                    </p>
        }
 </div>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmeNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SesssaoHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmeNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SesssaoHora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
