@model IEnumerable<ProjetoCinema.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro da Compra</h1>

<p>
    <a asp-action="Create" class="button">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filme.DescricaoCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filme.DescricaoCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="button">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="button">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
