@model IEnumerable<ProjetoCinema.Models.Cadastro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro do Cliente</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <div>
        @using (Html.BeginForm("Index", "Cadastro", FormMethod.Get))
        {
                    <p>
                        Digite aqui sua pesquisa: @Html.TextBox("Pesquisa")
                        <input type="submit" value="Pesquisar" class="button" />
                    </p>
        }
 </div>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EscolhaFilme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HrSessao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lugar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EscolhaFilme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HrSessao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lugar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
