@model ProjetoCinema.Models.EspecialHorror

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Especial Mês do Horror</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filmes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filmes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HrSesssao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HrSesssao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
